<div class="st-cp-confirm swiper-slide" data-hash="confirmation">
	<div class="st-cp-wrap-inner">

		<h1>Thank You</h1>
  	<h2 class="st-dynamic-hex">For helping us color the world</h2>
  	<div class="st-divider"></div>
  	
  	<p>Please share Color App with your family and friends. We must bring all colors together.</p>

  	<p>Share message –</p>

    <p>The world is our canvas and it needs your prismatic soul. <span class="st-dynamic-hex">#Color #OurWorld #Unity #ShiftTheory #UseColorApp</span></p>

    <p>
    	<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcolor.shifttheory.com" class="st-dynamic-hex">Share via Facebook</a><br />
    	<a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fcolor.shifttheory.com&text=The%20world%20is%20our%20canvas%20and%20it%20needs%20your%20prismatic%20soul.%20%23Color%20%23OurWorld%20%23Unity%20%23ShiftTheory%20%23UseColorApp." class="st-dynamic-hex">Share via Twitter</a>
    </p>
		
		<a href="#app" class="st-btn st-cp-btn-prev">Use Color</a>

	</div>
</div>